<head>
    <title>RCP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
</head>
<template name="layout">
  <div id="content">
    <p>Welcome {{currentUser.username}}!</p>
    {{#each users}}
      <h3>{{username}}</h3>
    {{/each}}
    <div id="logout">logout</div>
    <a href="{{pathFor '/ingredients'}}">Ingredients</a>
    <a href="{{pathFor '/recipes'}}">Recipes</a>
    <a href="{{pathFor '/lists'}}">Lists</a>
    {{> Template.dynamic template=header}}
    {{> Template.dynamic template=main}}
    {{> Template.dynamic template=footer}}
  </div>
</template>
